<div id="preloader">
	<div class="lds-ripple">
		<div></div>
		<div></div>
	</div>
</div>

<!--*******************
	Preloader end
********************-->
<!--**********************************
	Main wrapper start
***********************************-->
<div id="main-wrapper">


	<!--**********************************
		Content body start
	***********************************-->
	<div class="content-body">
		<div class="page-titles">
		</div>
		<!-- container starts -->
		<div class="container-fluid">

			<!-- row -->
			<div class="element-area">
				<div class="demo-view">
					<div class="container-fluid pt-0 ps-0 pe-lg-4 pe-0">
						<!-- Column starts -->
						<div class="col-xl-12">
							<div class="card dz-card" id="accordion-three">
								
								<img src="~/images/welcome.jpg" alt="">
							</div>
						</div>
						<!-- Column ends -->
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
