<?xml version="1.0" encoding="utf-8"?>
<configuration>
<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="D:\TTMDotNetCore\log4Net-" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd-HHmm'.log'"/>
			<appendToFile value="true" />
			<staticLogFileName value="false"/>
			<maximumFileSize value="100KB" />
			<maxSizeRollBackups value="2" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />
			</layout>
		</appender>

			
				<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
					<bufferSize value="1" />
					<connectionType value="System.Data.SqlClient.SqlConnection, System.Data.SqlClient" />
					<connectionString value="Server=.;Database=ATM;User ID=sa;Password=sasa;TrustServerCertificate=True;" />
					<commandText value="INSERT INTO LogEvents (Date, Thread, Level, Logger, Message, Exception) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />

					<parameter>
						<parameterName value="@log_date" />
						<dbType value="DateTime" />
						<layout type="log4net.Layout.RawTimeStampLayout" />
					</parameter>
					<parameter>
						<parameterName value="@thread" />
						<dbType value="String" />
						<size value="255" />
						<layout type="log4net.Layout.PatternLayout">
							<conversionPattern value="%thread" />
						</layout>
					</parameter>
					<parameter>
						<parameterName value="@log_level" />
						<dbType value="String" />
						<size value="50" />
						<layout type="log4net.Layout.PatternLayout">
							<conversionPattern value="%level" />
						</layout>
					</parameter>
					<parameter>
						<parameterName value="@logger" />
						<dbType value="String" />
						<size value="255" />
						<layout type="log4net.Layout.PatternLayout">
							<conversionPattern value="%logger" />
						</layout>
					</parameter>
					<parameter>
						<parameterName value="@message" />
						<dbType value="String" />
						<size value="4000" />
						<layout type="log4net.Layout.PatternLayout">
							<conversionPattern value="%message" />
						</layout>
					</parameter>
					<parameter>
						<parameterName value="@exception" />
						<dbType value="String" />
						<size value="2000" />
						<layout type="log4net.Layout.ExceptionLayout" />
					</parameter>
					<layout type="log4net.Layout.PatternLayout">
						<conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />
					</layout>

					<threshold value="DEBUG" />
				</appender>
				<root>
					<level value="TRACE" />
					<appender-ref ref="AdoNetAppender" />
				</root>
				<appender name="CreateTableAppender" type="log4net.Appender.AdoNetAppender">
					<connectionType value="System.Data.SqlClient.SqlConnection, System.Data.SqlClient" />
					<connectionString value="Server=.;Database=ATM;User ID=sa;Password=sasa;TrustServerCertificate=True;" />
					<commandText value="CREATE TABLE LogEvents (
                        Id INT PRIMARY KEY IDENTITY,
                        LogDate DATETIME,
                        Thread NVARCHAR(255),
                        LogLevel NVARCHAR(50),
                        Logger NVARCHAR(255),
                        Message NVARCHAR(4000),
                        Exception NVARCHAR(2000)
                    )" />
					<layout type="log4net.Layout.RawTimeStampLayout" />
					<threshold value="DEBUG" />
				</appender>

		<root>
            <level value="TRACE" />
            <appender-ref ref="CreateTableAppender" />
            <appender-ref ref="AdoNetAppender" />
            <appender-ref ref="RollingFile" />
        </root>
	</log4net>
</configuration>
	