
<div id="main-wrapper">

	<div class="content-body">
		<div class="container-fluid">
		<div class="row h-100">
			<div class="col-lg-4 col-md-7 col-sm-12 mx-auto align-self-center">
				<div class="login-form">
					<div class="text-center">
						<h3 class="title">Create User account</h3>
						@* <p>Sign in to your account to start using W3CRM</p> *@
					</div>
					<form action="index.html">
						<div class="mb-4">
							<label class="mb-1 text-dark">FullName</label>
								<input type="text" class="form-control form-control" id="FullName" required>
						</div>
						
						<div class="mb-4">
							<label class="mb-1 text-dark">Card Type</label>
							<select class="form-control" id="CardType">
								<option value="creditCard">Credit Card</option>
								<option value="specialCard">Special Card</option>
							</select>
						</div>
@* 
						<div class="mb-4">
							<label class="mb-1 text-dark">Address</label>
							<input type="text" class="form-control form-control" id="Address">
						</div> *@
						
						<div class="mb-4">
							<label class="mb-1 text-dark">PhoneNo</label>
							<input type="text" class="form-control form-control" id="PhoneNo" required>
						</div>
							<div class="mb-4">
								<label class="mb-1 text-dark">CurrentBalance</label>
								<input type="text" class="form-control form-control" id="CurrentBalance" required>
							</div>
						<div class="mb-4 position-relative">
							<label class="mb-1 text-dark">Password</label>
								<input type="password" class="form-control" id="Password"  value="123456">
							
						</div>

						<div class="text-center mb-4">
								<button type="button" class="btn btn-primary btn-block" id="btnSave">Create</button>
						</div>
						

						<div class="mb-3">
							
							<a target="_blank" href="https://www.facebook.com/" class="fab fa-facebook-f btn-facebook"></a>
							<a target="_blank" href="https://www.google.com/" class="fab fa-google-plus-g btn-google-plus mx-2"></a>
							<a target="_blank" href="https://www.linkedin.com/" class="fab fa-linkedin-in btn-linkedin me-2"></a>
							<a target="_blank" href="https://twitter.com/" class="fab fa-twitter btn-twitter"></a>
							
						</div>
						
					</form>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 mr-5">
					<div class="pages-center h-100  align-self-center">
				
						<div class="login-content">
							
						</div>
						<br>
						<br>
							<div class="mb-4">
								<label class="mb-1 text-dark">NRCNo</label>
								<input type="text" class="form-control form-control" id="NRCNo" required >
							</div>
							
							<div class="mb-4">
								<label class="mb-1 text-dark">Card Code</label>
								<input type="text" class="form-control form-control" id="CardCode" required>
							</div>
							<div class="mb-4">
								<label class="mb-1 text-dark">Email</label>
								<input type="email" class="form-control form-control" id="Email" required>
							</div>
							<div class="mb-4">
								<label class="mb-1 text-dark">Address</label>
								<input type="text" class="form-control form-control" id="Address" required>
							</div>
					</div>
				
			</div>
		</div>
	</div>
	</div>
</div>

@section scripts {
    <script>
        $('#btnSave').click(function () {
			var selectedCardType = document.getElementById("CardType").value;
			
			var cardCode = document.getElementById("CardCode").value;
			if ($('#FullName').val() === '' || $('#NRCNo').val() === '' || $('#CardCode').val() === '' || $('#Address').val() === ''
			|| $('#PhoneNo').val() === '' || $('#Password').val() === '' || $('#Email').val() === ''   || $('#CurrentBalance').val() === '') {
			warningMessage("Fill all required fields.");
			}else if (cardCode.length !== 16) {
		 warningMessage("Card Code must be exactly 16 characters.");
		} else {
            var _reqModel = {
				FullName: $('#FullName').val(),
				NRCNo: $('#NRCNo').val(),
				CardCode: $('#CardCode').val(),
				Address: $('#Address').val(),
				PhoneNo: $('#PhoneNo').val(),
				Password: $('#Password').val(),
				Email: $('#Email').val(),
				CardType: selectedCardType,
				CurrentBalance: $('#CurrentBalance').val(),
				Active:true,
            };

            $.ajax({
                url: '/user/save',
                type: 'POST',
                data: {
                    reqModel: _reqModel
                },
                success: function (data) {
                  
                    showMessage(data, "/user/userlist");
                },
                error: function (request, status, error) {
                    console.log({ request, status, error });
                }
            });
			}
        })
    </script>
}
