@model BlogResponseModels
@{
    int rowCount = 0;
    string controllerName=null;
    if (TempData["ControllerName"] != null)
    {
         controllerName = TempData["ControllerName"].ToString();
    }
}

<table class="table">
    <thead>
        <tr>
            <th>Action</th>
            <th scope="col">No.</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BlogDataModel item in Model.Data)
        {
            <tr>

                <td>
                    <a href="/@controllerName/Edit/@item.Blog_Id" class="btn btn-warning">Edit</a>
                    <a href="/@controllerName/Delete?id=@item.Blog_Id" class="btn btn-warning">Delete</a>
                </td>
                <th scope="row">@(++rowCount)</th>
                <td>@item.Blog_Title</td>
                <td>@item.Blog_Author</td>
                <td>@item.Blog_Content</td>
            </tr>
        }
    </tbody>
</table> 