<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true" internalLogLevel="Trace" internalLogFile="${basedir}\logs\internallog.log" throwConfigExceptions="true">
		<!-- enable asp.net core layout renderers -->
		<extensions>
			<add assembly="NLog.Extended"/>
		</extensions>

		<targets>
			<!-- File Target for all log messages with basic details -->
			<target xsi:type="File" name="logfile" fileName="D:/TTMDotNetCore/nlog-${date:format=yyyy-MM-dd}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
			<!-- Other targets like console, database, etc. can be added here -->
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="logfile" />
			<!-- Other rules can be added here -->
		</rules>
	</nlog>

</configuration>